<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>lobcder</display-name>
    <!-- This component has a dependency on an external resource-->
    <resource-ref>
        <description>DB Connection Pooling</description>
        <res-ref-name>jdbc/lobcder</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>WebDavServlet</servlet-name>
        <servlet-class>nl.uva.cs.lobcder.frontend.WebDavServlet</servlet-class>
        <init-param>
            <param-name>authentication.handler.classes</param-name>
            <param-value>com.bradmcevoy.http.http11.auth.BasicAuthHandler</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebDavServlet</servlet-name>
        <url-pattern>/dav/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>nl.uva.cs.lobcder.rest</param-value>
        </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>WebDavServlet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>       
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>


    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Tomcat Manager Application</realm-name>
    </login-config>
     
 
  Security roles referenced by this web application
    <security-role>
        <description>
            The role that is required to access the HTML Manager pages
        </description>
        <role-name>user</role-name>
    </security-role>
    -->
    <!--   
    Security roles referenced by this web application 
    <security-role>
        <description>
            The role that is required to access the HTML Manager pages
        </description>
        <role-name>betaTester</role-name>
    </security-role>
-->
</web-app>
